body {
    top:300px;
    margin: 200px;
    display: grid;
    justify-items: center;
    background-color: #ffffff;

}

h1{
position: absolute;
width: 524px;
height: 69px;
left:500px;
display: grid;
top: 0px;
justify-items: center;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 88px;
line-height: 103px;
color: rgba(0, 0, 0, 0.5);
}
#logo-img {
  background: url(../css/logo.png) no-repeat;
  top:-50px;
  left:450px;
  width: 150px;
  height: 150px;
  
}
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  align-items: center;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #555151;
  background-color: #e0dcdc
}
  
#sign-in {
    position: absolute;
    width: 200px;
    height: 33px;
    left: 460px;
    top: 350px;
    border-color: rgb(255, 80, 118);
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    color: #918b8b;
    background-color: #fafafa;
  }

#sign-up {
      position: absolute;
      width: 200px;
      height: 33px;
      left: 780px;
      top: 350px;
      
      font-family: Roboto;
      font-style: italic;
      font-weight: bold;
      font-size: 20px;
     
      color: #fdfbfb;
      background-color: #F87575;
}