body {
  margin: 200px;
  justify-items: center;
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  border: 2px solid rgb(129, 124, 124);
  border-style:dotted solid;
  box-sizing:border-box;

}
h2{
position: relative;
width: 300px;
height: 69px;
display: grid;
justify-items: center;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 25px;
line-height: 30px;
color: rgba(209, 140, 140, 0.5);

}
h1{
position: absolute;
width: 524px;
height: 60px;
left:5px;
display: grid;
top: -10px;
justify-items: center;
font-family: Roboto;
font-style: italic;
font-weight: bold;
font-size: 70px;
line-height: 103px;
color: rgba(0, 0, 0, 0.5);
}
#logo-img {
background: url(../images/logo.png) no-repeat;
top:-50px;
left:0px;
width: 150px;
height: 150px;

}
.error{
color:red;
}
input{
width: 100%;
padding: 15px 16px;
margin: 7px 0;
align-items: center;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
color: #555151;
background-color: #e0dcdc
}

#signup{
width:100%;
margin:10px 0;
display:inline-block;
color: #fdfbfb;
height:50px;
background-color: #F87575;
font-family: Roboto;
font-style: italic;
font-weight: bold;
border-radius: 20px;
font-size: 20px;
}

