<!--This file is by Shway-->
<!--This file shows all accounts registered, along side with their status:-->
<!--If your friend requests to any one is pending, or if that account is your friend-->
<!--Or if that account is a stranger and you may send it your friend request-->
{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou, here mainly by Shway Wang-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou, here mainly by Shway Wang-->
    <div class="w3-col m10">
      <!-- This is the beginning of the profile list -->
      <!-- Shway Wang added the if and the for loop here -->
      {% if is_empty %}
        <h1 class="w3-center w3-margin-top">
          Congrates! You are our first user!<br>There is no one here other than you!</h1>
      {% else %}
        <h1 class="w3-center w3-margin-top">Here Is Everyone Reachable:</h1>
        {% for profile in profiles %}
        <div class="profile">
          <h4>{{ profile.displayName }}</h4>
          <console class="log" style = "margin-left:20px;">>>>>>>>>>>>>>>>>>>></console>
          <p>Github link: {{ profile.github }}</p>
          <p>Host link: {{ profile.host }}</p>
          <!--by Shway Wang, the private post function-->
          <form action="{% url 'send_private_post' %}" method='GET'>
            {% csrf_token %}
            <input type="hidden" name="receiver_host" value="{{ profile.host }}">
            <input type="hidden" name="receiver_github" value="{{ profile.github }}">
            <input type="hidden" name="receiver_displayName" value="{{ profile.displayName }}">
            <input type="hidden" name="receiver_url" value="{{ profile.url }}">
            <button type='submit' class="w3-button w3-theme-d1 w3-margin-bottom"
            name='receiver_id' value="{{ profile.id }}" style ="margin-left:20px;width:20%;">Send This User a Private Post</button>
          </form>
          <!-- Now for the two buttons for adding and removing friends, also the notification if -->
          <!-- this person already has sent you a friend request -->
          <!-- Case 0: Follow and unfollow buttons -->
          {% if profile.id in follows or profile.url in follows%}
            <form action="{% url 'unfollow_someone' %}" method='POST'>
              {% csrf_token %}
              <button type='submit' class="w3-button w3-theme-d1 w3-margin-bottom"
              name='followee_id' value="{{ profile.id }}">Unfollow</button>
            </form>
          {% endif %}
          {% if profile.id not in follows and profile.url not in follows%}
            <form action="{% url 'follow_someone' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name="followee_host" value="{{ profile.host }}">
              <input type="hidden" name="followee_github" value="{{ profile.github }}">
              <input type="hidden" name="followee_displayName" value="{{ profile.displayName }}">
              <input type="hidden" name="followee_url" value="{{ profile.url }}">
              <button type='submit' class="w3-button w3-theme-d1 w3-margin-bottom"
              name='followee_id' value="{{ profile.id }}" style ="margin-left:20px;width:20%;">Follow</button>
            </form>
          {% endif %}
          <p style="color:gray;margin-left:20px;">If this user follows you back, you are automatically friends with each other!</p>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
