{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->

    <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">

            <div class="w3-card w3-round w3-white">

              <!-- What's Good-->
              <div class="w3-container w3-padding">
                <a href="{% url 'post_form' %}" class="fa fa-pencil w3-button w3-theme" > Create a Post</a>
              </div>

            </div>

        </div>
      </div>

      <!-- This is the beginning of a post -->
      <!-- Shway Wang added the for loop here -->
      {% for post in posts %}
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h1>{{ post.title }}</h1><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        <!-- <span class="w3-right w3-opacity">1 min</span> -->
        <h5>By: {{ post.author_display_name}}</h5><br>
        <hr class="w3-clear">
        
        {% if post.contentType == "text/plain" %}
          <p>{{ post.content }}</p>
        {% endif %}

        {% if post.contentType == "text/markdown" %}
          <p class="toMarkdown" id="{{ post.post_id }}">{{ post.content }}</p>
        {% endif %}

        <!-- Below are images -->
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            {% if post.image != '' and post.image != None %}
              <img src="{{ post.image }}">
            {% endif %}
          </div>

        </div>
        <hr class="w3-clear">

        <!-- Below are the like, comment and repost buttons -->
        <form action="{% url 'like_post_following' %}" method="POST">
          {% csrf_token %}
          {% if post.id != ''%}
            <button class="button", 
            style = "float:left;",type="submit", name="pk", value={{post.id}}>
          {% else %}
            <button class="button", 
            style = "float:left;",type="submit", name="pk", value={{post.origin}}>
          {% endif%}
          <i class="fa fa-heart-o" style="font-size:20px;" ></i>
          </button>
        </form>

        <form action="{% url 'comment_form' %}" method="GET">
          {% csrf_token %}
          {% if post.id != '' and post.id != None %}
            <button class="button", 
            type="submit", name="pk", style="float:left;", value={{post.id}}><i class="fa fa-comment-o" style="font-size:20px;"></i></button>
          {% else %}
            <button class="button", 
            type="submit", name="pk", style="float:left;", value={{post.origin}}><i class="fa fa-comment-o" style="font-size:20px;"></i></button>
          {% endif%}
        </form>

        <form action="{% url 'repost' %}" method="POST">
          {% csrf_token %}
          <button class="button", 
            style = "float:left;",
            type="submit", name="pk", value={{post.id}}>
            <i class="fa fa-paper-plane-o" style="font-size:20px;"></i>
          </button>
        </form>
        
        <form action="{% url 'repost_to_friend' %}" method="POST">
          {% csrf_token %}
          <button class="button", type="submit", name="pk", value={{post.id}}><i class="fa fa-share-alt" style="font-size:20px;"></i></button>
        </form>

        <p>{{post.like_count}} liked this post.</p>

        {% for comment in post.comments %}  
          {{ comment.comment_author_name }}:
          {{ comment.comment }}
          <br>
        {% endfor %}
        <br/>
      </div>
      {% endfor %}

      <script>showInMarkdown();</script>
      <!-- This is the end of a post -->

      <!-- Pagination-->
      <!-- <br><br>
      <div class="center">
        <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
        </div>
      </div> -->
      <!-- End of Pagination-->

    <!-- End Middle Column -->
    </div>

    <!-- Added here by Shway-->


  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>


{% endblock %}
