{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
    <br>
    <!-- End Left Column -->
    </div>
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <!-- What's Good-->
              <div class="w3-container w3-padding">
                <a href="{% url 'post_form' %}" class="fa fa-pencil w3-button w3-theme" > Create a Post</a>
              </div>
            </div>
        </div>
      </div>

      <!-- This is the beginning of a post -->
      <!-- Shway Wang added the for loop here -->
      <div id="posts">
        {% for i in first_page %}
        <div class="w3-container w3-card w3-white w3-round w3-margin">
        <br>
        <h1>{{ i.title }}</h1>
        
        <h5>By: {{i.author_display_name}}</h5>
        <br>
        <hr class="w3-clear">

        {% if i.contentType == "text/plain" %}
          <p>{{ i.content }}</p>
        {% endif %}

        {% if i.contentType == "text/markdown" %}
          <p class="toMarkdown" id="{{ i.post_id }}">{{ i.content }}</p>
        {% endif %}
        
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            {% if i.image != '' and i.image != None %}
              <img src="{{i.image}}">
            {% endif %}
          </div>
        </div>
        <hr class="w3-clear">

        <!-- Below are the like, comment and repost buttons -->
        <form action="{% url 'like_post_following' %}" method="POST">
          {% csrf_token %}

          {% if i.id != '' and i.id != None %}
            <button class="button", 
            style = "float:left;",type="submit", name="pk", value={{i.id}}>
          {% else %}
            <button class="button", 
            style = "float:left;",type="submit", name="pk", value={{i.origin}}>
          {% endif%}
          <i class="fa fa-heart-o" style="font-size:20px;" ></i>
          </button>
        </form>
      
        <form action="{% url 'comment_form' %}" method="POST">
          {% csrf_token %}
          <button class="button", 
          type="submit", name="ppid", style="float:left;", value={{i.source}}><i class="fa fa-comment-o" style="font-size:20px;"></i></button>
        </form>

        <form action="{% url 'repost' %}" method="POST">
          {% csrf_token %}
          <button class="button", 
            style = "float:left;",
            type="submit", name="pk", value={{i.id}}>
            <i class="fa fa-paper-plane-o" style="font-size:20px;"></i>
          </button>
        </form>
        <form action="{% url 'repost_to_friend' %}" method="POST">
          {% csrf_token %}
          <button class="button", type="submit", name="pk", value={{i.id}}><i class="fa fa-share-alt" style="font-size:20px;"></i></button>
        </form>

        <p>{{i.like_count}} liked this post.</p>
       
        <!-- Show Comments at Bottom-->
        {% for comment in i.comments %}
          {% if i.visibility != 'PUBLIC' %}
            {% if myself == comment.author %}
              {{ comment.author.displayName }}:
              {{ comment.comment }}
              <br>
            {% endif %}
          {% else %}
            {{ comment.author.displayName }}:
            {{ comment.comment }}
            <br>
          {% endif %}
        {% endfor %}
        <br>
        </div>
        {% endfor %}
    </div>
      <script>showInMarkdown();</script>
      <!-- This is the end of a post -->

      <br>
      <div class="center">
        <div class="pagination">
          {% for i in page_range %}
            <!-- Initialize coloring on pagination -->
            <!-- {% if i == curr_page %} -->
            <!-- <a id = "page" class="active" style="margin-left: 5px; font-size: 20px;" href = "{{ i }}">{{i}}</a> -->
            <!-- {% else %} -->
            <a id = "page" style="margin-left: 5px; font-size: 20px;" href = "{{ i }}">{{i}}</a>
            <!-- {% endif %} -->
          {% endfor %}
        </div>
      </div>
      <script>
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrf = getCookie('csrftoken');
        $("a#page").click(function(event){
          event.preventDefault();
          var page_n =$(this).attr('href');
         
          // Remove highlight on the other pages
          var all_pages = document.querySelectorAll('[id=page]');
          for (let i of all_pages){
              i.className = null;
          }

          // Hightlight the active page
          var current_page = $(`a[href=${page_n}]`)[0];
          current_page.className = "active"
          
          // ajax
          $.ajax({
            type: "POST",
                url:"{% url 'follow' %}", // name of url
                data : {    
                page_n : page_n, //page_number
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (resp) {
              //loop
              $('#posts').html('')
              $.each(resp.results, function(i, val) { 
                //apending posts
                // console.log(val);
                var post_content = `<p>${val.content}</p>`;

                            

                var image = ``;
               

              
                if (val.image != '' && val.image != null){
                  image = `<div class="w3-row-padding" style="margin:0 -16px">
                            <div class="w3-half">
                                <img src=${val.image}>
                            </div>
                          </div>`
                }
                if( val.contentType=="text/plain"){
                  post_content = `<p>${val.content}</p>`
                }

                if( val.contentType=="text/markdown"){
                  post_content = `<p class="toMarkdown" id="${ val.post_id }">${val.content }</p>`
                }

                var button = ``;
                if(val.id != ''&& val.id != null){
                  button = `<button class="button", 
                  style = "float:left;",type="submit", name="pk", value=${val.id}>`
                }else{
                  button = `<button class="button", 
                  style = "float:left;",type="submit", name="pk", value=${val.origin}>`
                }
        
                $('#posts').append(`

                  <div class="w3-container w3-card w3-white w3-round w3-margin">
                  <br>
                  <h1>${val.title}</h1>

                  <h5>By: ${val.author_display_name}</h5><br>
                  <hr class="w3-clear">

                  ${ post_content }
                 
                  ${image}

                  <hr class="w3-clear">

                  <form action="{% url 'like_post_public' %}" method="POST">
                      {% csrf_token %}
                      ${button}
                        <i class="fa fa-heart-o" style="font-size:20px;"></i>
                      </button>
                  </form>

                  <form action="{% url 'comment_form' %}" method="POST">
                    {% csrf_token %}
                    <button class="button", 
                        type="submit", 
                        style="float:left;",
                        name="ppid", 
                        value=${val.source}>
                        <i class="fa fa-comment-o" style="font-size:20px;"></i></button>
                  </form>

                  <form action="{% url 'repost' %}" method="POST">
                    {% csrf_token %}
                    <button class="button", 
                      style = "float:left;",
                      type="submit", name="pk", value=${val.source}>
                      <i class="fa fa-paper-plane-o" style="font-size:20px;"></i>
                    </button>
                  </form>

                  <form action="{% url 'repost_to_friend' %}" method="POST">
                    {% csrf_token %}
                    <button class="button", style="float:left;", type="submit", name="pk", value=${val.source}><i class="fa fa-share-alt" style="font-size:20px;"></i></button>
                  </form><br>
                  <p>${val.like_count} liked this post.</p>
                  ${val.comments.map(comment => `${ comment.author.displayName }:${comment.comment}<br>`).join("")}
                  <br>
                `)
                showInMarkdown();
              });
              
      
            },
              
            error: function () {}

          });

          // Scroll to the top of the page 
          window.scrollTo(0, 0);
      
        });    
      </script>    

    <!-- End Middle Column -->
    </div>

    <!-- Added here by Shway-->


  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>


{% endblock %}


