<!--This file is by Shway-->
<!--This file shows all requests received by the current user-->
{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m10">
      <!-- This is the beginning of a post -->
      <!-- Shway Wang added the for loop and the if condition here -->
      {% if is_empty %}
        <h1 class="w3-center w3-margin-top">You have no friend requests yet!</h1>
      {% else %}
        <h1 class="w3-center w3-margin-top">Some people want to follow you:</h1>
        {% for sender in senders %}
          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <div>
              <img class="w3-left w3-circle w3-margin-right" src="{% static 'images/shwaypic.jpg' %}"
              style="width:120px" alt="Icon">
            </div>
            <h4>{{ sender.display_name }}</h4>
            <p>Github link: {{ sender.github }}</p>
            <p>Host link: {{ sender.host }}</p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">View Profile</button>
            <form action="{% url 'accept_friend_request' %}" method='POST'>
              {% csrf_token %}
              <button type='submit' class="w3-button w3-theme-d1 w3-margin-bottom"
              name='accept_uid' value='{{ sender.uid }}'>Accept</button>
            </form>
            <form action="{% url 'reject_friend_request' %}" method='POST'>
              {% csrf_token %}
              <button type='submit' class="w3-button w3-theme-d1 w3-margin-bottom"
              name='reject_uid' value='{{ sender.uid }}'>Decline</button>
            </form>
          </div>
        {% endfor %}
      {% endif %}
      <!-- This is the end of a post -->

      <!-- Pagination-->
      <br><br>
      <div class="center">
        <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
        </div>
      </div>
      <!-- End of Pagination-->

    <!-- End Middle Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
{% endblock %}
