{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->

    <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">

            <div class="w3-card w3-round w3-white">

                

            </div>

        </div>
      </div>

     
    </div>




  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>


{% endblock %}
