<!--This file is by Shway-->
<!--This file shows all requests received by the current user-->
{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m10">
      <!-- This is the beginning of a post -->
      <!-- Shway Wang added the for loop and the if condition here -->
      {% if is_all_empty %}
        <h1 class="w3-center w3-margin-top">No New Messages yet!</h1>
      {% else %}
        <h1 class="w3-center w3-margin-top">You have the following messages:</h1>
        {% for item in inbox %}
          {% if item.type == "like" %}
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
              <h4>{{ item.summary }}</h4>
            </div>
          {% endif %}
          {% if item.type == "comment" %}
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
              <h4>New Comment</h4>
              <h5>{{ item.comment }}</h5>
              <h6>Author Info:</h6>
              <p>Name: {{ item.comment_author_name }}</p>
              <p>Host link: {{ item.author.host }}</p>
              <p>url: {{ item.author.url }}</p>
            </div>
          {% endif %}
          {% if item.type == "follow" or item.type == "Follow"%}
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
              <h4>{{ item.summary }}</h4>
              <p>Github link: {{ item.actor.github }}</p>
              <p>Host link: {{ item.actor.host }}</p>
              <p>url: {{ item.actor.url }}</p>

              <!--For to follow this user back-->
              <form action="{% url 'follow_back' %}" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="followee_host" value="{{ item.actor.host }}">
                <input type="hidden" name="followee_github" value="{{ item.actor.github }}">
                <input type="hidden" name="followee_displayName" value="{{ item.actor.displayName }}">
                <input type="hidden" name="followee_url" value="{{ item.actor.url }}">
                <button type='submit' class="w3-button w3-theme-d1 w3-margin-bottom"
                name='followee_id' value="{{ item.actor.id }}">Follow back(or accept friend request to be friends)</button>
              </form>

              <!--For to remove this message-->
              <form action="{% url 'remove_inbox_follow' %}" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="followee_host" value="{{ item.actor.host }}">
                <input type="hidden" name="followee_github" value="{{ item.actor.github }}">
                <input type="hidden" name="followee_displayName" value="{{ item.actor.displayName }}">
                <button type='submit' class="w3-button w3-theme-r1 w3-margin-bottom"
                name='followee_id' value="{{ item.actor.id }}">Remove Message</button>
              </form>
            </div>
          {% endif %}
          {% if item.type == "post" or item.type == "Post" %}
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
              <h1>{{ item.title }}</h1><br>
              <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
              <!-- <span class="w3-right w3-opacity">1 min</span> -->
              <h5>By: {{ item.author.displayName}}</h5><br>
              <hr class="w3-clear">
              {% if item.contentType == "text/plain" %}
                <p>{{ item.content }}</p>
              {% endif %}
              {% if item.contentType == "text/markdown" %}
                <p class="toMarkdown" id="{{ item.post_id }}">{{ item.content }}</p>
              {% endif %}
              <!-- Below are images -->
              <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half">
                  {% if item.image != '' and item.image != None %}
                    <img src="{{ item.image }}">
                  {% endif %}
                </div>
              </div>
              <hr class="w3-clear">
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <!-- This is the end of a post -->
    <!-- End Middle Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
{% endblock %}
