{% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type  = "text/css"
href = "{% static 'css/signup-page.css' %}">
<h1 id="signup-header">Iconicity</h1>
<h1 id="logo-img" alt="Logo image"></h1>

<body>
<p>Sign up today to pretend to be free from centralization and reality</p>
<input type="text" name="email" id="email-field" placeholder="Email">
<input type="password" name="password" id="password-field" placeholder="Password">
<input type="password" name="comfirm password" id="comfirm-password-field" placeholder="Comfirm Password">
<input type="text" name="username" id="username" placeholder="Username">
<input type="url" name="github url" id="github-url" placeholder="Github">
<input type="submit" value="Sign In" id="sign-in">
</body>

</html> 

