{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href = "{% static 'css/login-page.css' %}">
</head>
<div class = "header">
  <h2 id="logo-img" alt="Logo image"></h1>
  <h1>Iconicity</h1>
</div>

<body>
<input type="text" name="email" id="email-field" placeholder="Email">
<input type="password" name="password" id="password-field" placeholder="Password">
<div class = "sign">
  <a href="main">
  <button class = button1>sign in </button>
  </a>
  <a href="signup">
  <button class = button>sign up </button>
  </a>
</div>
</body>
</html>