{% load static %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
<link rel="stylesheet" type  = "text/css"
href = "{% static 'css/login-page.css' %}">
<body>


<h1 id="login-header">Iconicity</h1>
<h1 id="logo-img" alt="Logo image"></h1>

<input type="text" name="email" id="email-field" placeholder="Email">
<input type="password" name="password" id="password-field" placeholder="Password">
<input type="submit" value="Sign In" id="sign-in">
<input type="submit" value="Sign Up" id="sign-up">
</body>

</html>