{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href = "{% static 'css/login-page.css' %}">
</head>
<div class = "header">
<h2 id="logo-img" alt="Logo image"></h1>
<h1>Iconicity</h1>
</div>

<body>
<form method='POST'>
  {% csrf_token %}
  <div class="field">
    <label for="{{ form.username.id_for_label }}" class="label">
      Username
    </label>
    <div class="control">
      {{ form.username }}
    </div>
    <p class="help is-danger">{{ form.username.errors }}</p>
  </div>

  <div class="field">
    <label for="{{ form.password.id_for_label }}" class="label">
      Password
    </label>
    <div class="control">
      {{ form.password}}
    </div>
    <p class="help is-danger">{{ form.password.errors }}</p>
  </div>
  
 <div class = "signin">
  <a href="main">
  <button class = button1>sign in </button>
  </a>
</div>

</form>
<div class = "sign">
  <a href="signup">
  <button class = button>sign up </button>

  </a>
</div>




</body>
</html>
