<!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_social&stacked=h-->
{% load static %}
<!DOCTYPE html>
<html>
<!-- FROM https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename -->
<!-- END FROM-->

<title>Iconicity Home Page</title>
<meta charset="UTF-8">

<!-- Showdown -->
<script language="JavaScript" type="text/javascript" src="static/javascript/main.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>

<!--Setting the viewport to make website look good on all devices-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href = "{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/javascript" href = "{% static 'javacript/main.js' %}">
<body class="w3-theme-l3">
<!-- Navbar -->
<!-- By: Zhiqi Zhou-->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
   <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
   <!-- Public Post Button -->
   <a href="public" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Public"><i class="fa fa-globe"></i></a>

   <!-- Friends Post Button -->
   <a href="friends" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Friends"><i class="fa fa-users"></i></a>

   <!-- Following Post Button -->
   <a href="following" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Following"><i class="fa fa-star"></i></a>

   <!-- My Post Button -->
   <a href="mypost" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Post"><i class="fa fa-user"></i></a>

   <!-- Notification Button -->
   <a href="inbox" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Inbox"><i class="fa fa-bell"></i></a>




   <!-- Search Input -->
   <input type="text" class="w3-bar-item w3-input w3-padding-large w3-hover-white" placeholder="Search..">
   <a href="all_profiles" class="w3-bar-item w3-button w3-pink w3-padding-large w3-hover-white"><i class="fa fa-search"></i></a>

   <!-- Logo -->

   <!-- Sign out Bottom -->
   <div class="w3-dropdown-hover w3-hide-small w3-right">
     <button class="w3-button w3-padding-large"><i class="fa fa-user-circle"></i></button>
     <div class="w3-dropdown-content w3-card-4 w3-bar-block " style="right:0">
      <form id="logoutform" action="{% url 'logout' %}" method='POST'>
        {% csrf_token %}
        <a href="#" class="w3-bar-item w3-button" onClick="document.getElementById('logoutform').submit()">Sign Out</a>
      </form>
     </div>
   </div>

  </div>
 </div>

<!-- Navbar on small screens -->
<!-- By: Zhiqi Zhou-->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>
{% block content %}{% endblock %}


<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += "";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace("", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// FROM: https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename

function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
}
// END FROM

function updateContent() {
            //alert()
            title = document.getElementById("title");
            description = document.getElementById("description");
            category = document.getElementById("category");
            content = document.getElementById("texta");
            visibility = document.getElementById("visibility");
            image = document.getElementById("image");
}

</script>


</body>
</html>
