{% extends 'Iconicity/main_base.html'%}

{% load static %}

{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" >
        <div class="w3-container">
          <a href="profile">
         <h4 class="w3-center w3-margin-top">My Profile</h4>
        </a>
         <hr>
         <p><i class="fa fa-user-o fa-fw w3-margin-right w3-text-theme"></i> {{ user.username }}</p>
         <p><i class="fa fa-github fa-fw w3-margin-right w3-text-theme"></i> <a href="{{ UserProfile.github }}">{{ UserProfile.github }}</a>
        </div>

    </div>
    <br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">

            <div class="w3-card w3-round w3-white">

              <!-- What's Good-->
              <div class="w3-container w3-padding">
                <a href="{% url 'post_form' %}" class="fa fa-pencil w3-button w3-theme" > Create a Post</a>
              </div>

            </div>

        </div>
      </div>

      <!-- This is the beginning of a post -->
      <!-- Shway Wang added the for loop here -->
      {% for post in posts %}
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h1>{{ post.title }}</h1><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        <!-- <span class="w3-right w3-opacity">1 min</span> -->
        <h5>By: {{ post.display_name}}</h5><br>
        <hr class="w3-clear">
        <p>{{ post.content }}</p>
        
        <!-- Below are images -->
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            {% if post.image != '' and post.image != None %}
              <img src="/media/{{ post.image }}">
            {% endif %}
          </div>

        </div>
        <hr class="w3-clear">

        <!-- Below are the like, comment and repost buttons -->
        <form action="{% url 'like_post_public' %}" method="POST">
          {% csrf_token %}
          
          <!-- <button class="button w3-margin-bottom", type="submit", name="pk", value={{post.pk}}><i class="fa fa-heart-o" style="font-size:20px;" ></i><p>{{post.count}}</p></button> -->

        
        <h3>Comments...</h3>
        <a href="{% url 'comment_form' %}" name="pk", value={{post.pk}}>Add Comment</a>

        <!-- <form action="{% url 'comment_form' %}" method="POST">
          {% csrf_token %}
          <button class="button w3-margin-bottom", type="submit", name="pk", value={{post.pk}}><p>Add Comment</p></button>
        </form> -->

        <br/><br/>
        {% for comment_id in post.comments %}
          {% for comment in comments %}
            {% if comment_id == comment.pk %}

              {{ comment.comment_author_name }}:
              {{ comment.fields.comment }}

              <br>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <br/><br/>
      </div>
      {% endfor %}
      <!-- This is the end of a post -->

      <!-- Pagination-->
      <br><br>
      <div class="center">
        <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
        </div>
      </div>
      <!-- End of Pagination-->

    <!-- End Middle Column -->
    </div>

    <!-- Added here by Shway-->
    <!-- Right Column -->
    <div class="w3-col m2">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" >
        <div class="w3-container">
         <h4 class="w3-center w3-margin-top">Friend List of {{ request.user }}:</h4>
         <hr>
         {% for friend in UserProfile.get_followers %}
          <p><i class="fa fa-user-o fa-fw w3-margin-right w3-text-theme"></i>{{ friend }}</p>
         {% endfor %}
         <h5 class="w3-center w3-margin-top">You have {{ UserProfile.get_number_of_followers }} friends.</h5>
        </div>
      </div>
    </div>
    <br>
    <!-- End Right Column -->

  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>


{% endblock %}

   
 
