<!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_social&stacked=h-->

<!DOCTYPE html>
<html>

<!-- FROM https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename -->

<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

<!-- END FROM-->

<title>Iconicity Home Page</title>
<meta charset="UTF-8">

<!--Setting the viewport to make website look good on all devices-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

img {
    max-width:300px;
    max-height:300px;
    width:auto;
    height:auto;
}

article, aside, figure, footer, header, hgroup, 
    menu, nav, section { display: block; }

.button {
  background-color: transparent; /* Green */
  border: none;
  color: black;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 30px;
    cursor: pointer;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: rgb(255, 255, 255);}

input{
  width: 100%;
  border-radius: 4px;
  border: 2;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px 14px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

</style>

<body class="w3-theme-l3">

<!-- Navbar -->
<!-- By: Zhiqi Zhou-->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
   <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
 
   <!-- Public Post Bottom -->
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Public"><i class="fa fa-globe"></i></a>
 
   <!-- Friends Post Bottom -->
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Friends"><i class="fa fa-users"></i></a>
 
   <!-- Following Post Bottom -->
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Following"><i class="fa fa-star"></i></a>
   
   <!-- My Post Bottom -->
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Post"><i class="fa fa-user"></i></a>
 
   <!-- Notification Bottom -->
   <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-pink">3</span></button>     
     <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
       <a href="#" class="w3-bar-item w3-button">One new friend request</a>
       <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
       <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
     </div>
   </div>
 
   <!-- Search Input -->
   <input type="text" class="w3-bar-item w3-input w3-padding-large w3-hover-white" placeholder="Search..">
   <a href="#" class="w3-bar-item w3-button w3-pink w3-padding-large w3-hover-white"><i class="fa fa-search"></i></a>
   
   <!-- Logo -->
   <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-center w3-padding-large w3-hover-white" title="Home Page"><img src="logo.png" style="width:15px; height:15px;"></a> -->
   
   <!-- Sign out Bottom -->
   <div class="w3-dropdown-hover w3-hide-small w3-right">
     <button class="w3-button w3-padding-large" title="My Account"><i class="fa fa-user-circle"></i></button>     
     <div class="w3-dropdown-content w3-card-4 w3-bar-block " style="right:0">
      <form id="logoutform" action="{% url 'logout' %}", method='POST'>
        {% csrf_token %}
        <a href="#" class="w3-bar-item w3-button" onClick="document.getElementById('logoutform').submit()">Sign Out</a>
      </form>
     </div>
   </div>
 
  </div>
 </div>

<!-- Navbar on small screens -->
<!-- By: Zhiqi Zhou-->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" >
        <div class="w3-container">
         <h4 class="w3-center w3-margin-top">My Profile</h4>
         <hr>
         <p><i class="fa fa-user-o fa-fw w3-margin-right w3-text-theme"></i> {{ UserProfile.display_name }}</p>
         <p><i class="fa fa-github fa-fw w3-margin-right w3-text-theme"></i> <a href="{{ UserProfile.github }}">{{ UserProfile.github }}</a>
        </div>

    </div>
    <br>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">

          
            <div class="w3-card w3-round w3-white">

              <!-- What's Good-->
              <div class="w3-container w3-padding">
                <a href="{% url 'post_form' %}" class="fa fa-pencil w3-button w3-theme" > Create a Post</a>
              </div>

            </div>

        </div>
      </div>

      <!-- This is the beginning of a post -->
      <!-- Shway Wang added the for loop here -->
      {% for post in posts %}
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h1>{{ post.title }}</h1><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        <!-- <span class="w3-right w3-opacity">1 min</span> -->
        <h4>{{ post.author.displayName }}</h4><br>
        <hr class="w3-clear">
        <p>{{ post.content }}</p>
        <!-- Below are images -->
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <!-- <img src="/static/css/nothernlight.jpg" style="width:100%" class="w3-margin-bottom"> -->
            {% if post.image != '' %}
              <img src="/media/{{ post.image }}">
            {% endif %}
          </div>
        
        </div>
        <hr class="w3-clear">
        
        <!-- Below are the like, comment and repost buttons -->
        <button class="button w3-margin-bottom"><i class="fa fa-heart-o" style="font-size:20px;" ></i></button> 

        <button class="button w3-margin-bottom"><i class="fa fa-paper-plane-o" style="font-size:20px;"></i></button>

        <!-- <button class="button w3-margin-bottom"><i class="fa fa-comment-o" style="font-size:20px;"></i></button>  -->

        <button onclick="myFunction('comment_id')" class="button w3-margin-bottom"><i class="fa fa-comment-o" style="font-size:20px;"></i></button>
          <div id="comment_id" class="w3-hide">
            <!-- Comment Box-->
            <h6 class="w3-opacity">Your Comment:</h6>
            <p contenteditable="true" class="w3-border w3-padding"> </p>
            <button type="button" class="w3-button w3-theme w3-left-align w3-margin-bottom"><i class="fa fa-pencil"></i>  Send</button>
          </div>
      </div>
      {% endfor %}
      <!-- This is the end of a post -->
      
      <!-- Pagination-->
      <br><br>
      <div class="center">
        <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
        </div>
      </div>
      <!-- End of Pagination-->

    <!-- End Middle Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += "";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace("", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// FROM: https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename

function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
}
// END FROM

function updateContent() {
            //alert()
            title = document.getElementById("title");
            description = document.getElementById("description");
            category = document.getElementById("category");
            content = document.getElementById("texta");
            visibility = document.getElementById("visibility");
            image = document.getElementById("image");
}
        
</script>

</body>
</html> 