{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->

<div class="w3-container w3-content" style="max-width:2000px; margin-top:80px">
  <!-- The Grid -->
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
    <div class="w3-col m15 center">
      <div class="w3-card w3-round w3-white">
        <br>
        <svg viewBox="64 64 896 896" focusable="false" data-icon="github" width="1.5em" height="1.5em" fill="currentColor" aria-hidden="true"><path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path></svg>
        <br>
        <b style="font-size: 20px;">My Github Activity</b>
        <p>{{ github_username }}</p>
        <script
          src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
        >
        </script>

        

        <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
        <link
          rel="stylesheet"
          href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
        />
        <div class="calendar">
          <!-- Loading stuff -->
          If this takes too long, the github url is invalid.
      </div>

      <script>
          new GitHubCalendar(".calendar", "{{ github_username }}");
          var calendar = document.getElementsByClassName("calendar");
          calendar[0].style.border = "none";
      </script>
      <br>
    </div>
    </div>
   
    
    <div class="w3-col m9" style="margin-left: 12%;">
      <br>  
      <div class="w3-row-padding;">     
      <div id="posts">
        {% for i in first_page %}
          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <h1>{{ i.title }}</h1><br>
            <h5>By: {{ i.author_display_name}}</h5><br>
            <hr class="w3-clear">
            {% if i.contentType == "text/plain" %}
              <p>{{ i.content }}</p>
            {% endif %}
            {% if i.contentType == "text/markdown" %}
              <p class="toMarkdown" id="{{ i.post_id }}">{{ i.content }}</p>
            {% endif %}
            <div class="w3-row-padding" style="margin:0 -16px">
              <div class="w3-half">
                {% if i.image != '' and i.image != None %}
                  <img src="{{i.image}}">
                {% endif %}
              </div>
              <hr class="w3-clear">

              <!-- Below are the like, comment and repost buttons -->
              <form action="{% url 'like_post_mypost' %}" method="POST">
                {% csrf_token %}

                <button class="button", 
                style = "float:left;",type="submit", name="pk", value={{i.id}}>
                <i class="fa fa-heart-o" style="font-size:20px;" ></i>
                </button>
              </form>
              <form action="{% url 'update_post' %}" method="POST">
                {% csrf_token %}
                <button class="button", 
                  style = "float:left;",
                  type="submit", name="pk", value={{i.id}}>
                  <i class="fa fa-pencil-square-o" style="font-size:20px;"></i>
                </button>
              </form>
              <form action="{% url 'delete' %}" method="POST">
                {% csrf_token %}
                <button class="button", type="submit", name="pk",  value={{i.id}}><i class="fa fa-trash" style="font-size:20px;"></i></button>
              </form>
              <br>
              <p>{{i.like_count}} liked this post.</p>
              {% for comment in i.comments %}  
                {{ comment.comment_author_name }}:
                {{ comment.comment }}
                <br>
              {% endfor %}
              <br>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Pagination-->
      <br><div class="center">
        <div class="pagination">
          {% for i in page_range %}
            <!-- Initialize coloring on pagination -->
            <!-- {% if i == curr_page %} -->
            <!-- <a id = "page" class="active" style="margin-left: 5px; font-size: 20px;" href = "{{ i }}">{{i}}</a> -->
            <!-- {% else %} -->
            <a id = "page" style="margin-left: 5px; font-size: 20px;" href = "{{ i }}">{{i}}</a>
            <!-- {% endif %} -->
          {% endfor %}
        </div>
      </div>
      <script>showInMarkdown();</script>
      <!-- This is the end of a post -->

      <script>
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrf = getCookie('csrftoken');
        $("a#page").click(function(event){
          event.preventDefault();
          var page_n = $(this).attr('href');
          
          // ajax
              $.ajax({
                  type: "POST",
                  url:"{% url 'mypost' %}", 
                      data : {    
                      page_n : page_n, //page_number
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                  },
                  success: function (resp) {
                      //loop
                    $('#posts').html('')
                     $.each(resp.results, function(i, val) { 
                       //apending posts
                       console.log(val);
                       var post_content = ``;

                            

                var image = ``;
               

              
                if (val.image != '' && val.image != null){
                  image = `<div class="w3-row-padding" style="margin:0 -16px">
                            <div class="w3-half">
                                <img src=${val.image}>
                            </div>
                          </div>`
                }
                if( val.contentType=="text/plain"){
                  post_content = `<p>${val.content}</p>`
                }
                console.log("yes")
                if( val.contentType=="text/markdown"){
                  
                  post_content = `<p class="toMarkdown" id="${ val.post_id }">${val.content }</p>`
                }
                var button = ``;
                if(val.id != ''&& val.id != null){
                  button = `<button class="button", 
            style = "float:left;",type="submit", name="pk", value=${val.id}>`
                }else{
                  button = `<button class="button", 
            style = "float:left;",type="submit", name="pk", value=${val.origin}>`
                }
                      $('#posts').append(`<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h1>${val.title}</h1>

        <h5>By:${val.author_display_name}</h5><br>
        <hr class="w3-clear">
        ${post_content}
                 
        ${image}

      
       <form action="{% url 'like_post_mypost' %}" method="POST">
          {% csrf_token %}
          ${button}
            <i class="fa fa-heart-o" style="font-size:20px;"></i>
          </button>
        </form>
        <form action="{% url 'update_post' %}" method="POST">
          {% csrf_token %}
          <button class="button", 
            style = "float:left;",
            type="submit", name="pk", value=${val.id}>
            <i class="fa fa-pencil-square-o" style="font-size:20px;"></i>
          </button>
        </form>
        <form action="{% url 'delete' %}" method="POST">
          {% csrf_token %}
          <button class="button", type="submit", name="pk",  value=${val.id}><i class="fa fa-trash" style="font-size:20px;"></i></button>
        </form>
        <br>
        <p>${val.like_count} liked this post.</p>${val.comments.map(comment => `<br>${comment.comment_author_name}:${comment.comment}`).join("")}<br>`)
        showInMarkdown();
                     });
                  },
                  error: function () {}
              }); // 
              window.scrollTo(0, 0);
      
      });    
      </script>   
    <!-- End Middle Column -->
    </div>
    <!-- Added here by Shway-->


    <!-- End Grid -->
<!-- End Page Container -->
</div>
</div>

<br>


{% endblock %}
