{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content">    
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
        <br><br><br><br><br><br><br><br>
        <div class="w3-col m7" style="margin-left: 22%; margin-right: auto;">

          <!-- Start of the Form-->
          <form action="/main" method="POST">
            {% csrf_token %}
            <!-- Make Post Section-->
            <div class="w3-card w3-round w3-white">

              <!-- What's Good-->
              <div class="w3-container w3-padding">
                <h4 class="w3-opacity">What's good?</h4>
              </div>

              <!-- Title Box-->
              <div class="w3-container">
                <h6>Title</h6>
                <input id="title" name="title" class="w3-border w3-padding"/>
              </div>
              
              <!-- Description Box-->
              <div class="w3-container">
                <h6>Description</h6>
                <input id="description" name="description" class="w3-border w3-padding"/>
              </div>

              <!-- Category Box-->
              <div class="w3-container">
                <h6>Category</h6>
                <input id="category" name="categories" class="w3-border w3-padding"/>
              </div>

              <!-- Content Box-->
              <div class="w3-container">
                <h6>Content</h6>
                <textarea id="texta" name="content" type="text"></textarea> 
              </div>

              <!-- Visibility Select-->
              <div class="w3-container w3-padding">
                <label for="visibility">Visibility:</label>
                <select name="visibility" id="visibility">
                  <option value="Public">Public</option>
                  <option value="Followers">Friends</option>
                </select>
              </div>

              <!-- Image Selection-->
              <div class="w3-container w3-padding">
                <div class="image-upload">
                  <label for="image">
                      <h6>Image:</6>
                      <img src="/static/css/icon_image.webp"/>
                  </label>
                  <input type='file' id="image" hidden onchange="readURL(this);" />
                </div>
              </div>

              <!-- Image Preview -->
              <div class="w3-container w3-padding w3-center">
                <img id="blah"/>
              </div>

              <!-- Post Button -->
              <div class="w3-container w3-padding">
                <input type="submit" value="Post" class="w3-button w3-theme" style="width: 80px;">
                <!-- <button type="button" class="w3-button w3-theme w3-left-align"><i class="fa fa-check"></i>  Post</button> -->
              </div>

            </div>
            <!-- End of Make Post Section-->
          </form>
          <!-- End of the Form-->

          <br><br><br><br><br><br>
        </div>

<!-- End Page Container -->
{% endblock %}