{% extends 'Iconicity/main_base.html'%}
{% load static %}
{% block content %}
<!-- Page Container -->
<!-- By: Zhiqi Zhou-->
<div class="w3-container w3-content">
    <!-- Middle Column -->
    <!-- By: Zhiqi Zhou-->
        <br><br><br><br><br><br><br><br>
        <div class="w3-col m7" style="margin-left: 22%; margin-right: auto;">
            <h1>Add Blog Post</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                <button type='submit' name='followee_id' value="normalPost">Post</button>
             </form>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
<!-- End Page Container -->
</div>
<br>
{% endblock %}
