{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type  = "text/css"
    href = "{% static 'css/signup-page.css' %}">
    <h1 id="signup-header">Iconicity</h1>
    <h1 id="logo-img" alt="Logo image"></h1>
    <h2>Sign up today to pretend to be free from centralization and reality</h2>
  </head>
<body>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        <div class = "help">{{ field.help_text }}</div>
        {% for error in field.errors %}
        <div class = "error">{{ error}}</div>
        {% endfor %}

      </p>
    {% endfor %}
    <div class = "button">
    <input type="submit" id  = "signup" value = "sign up"></input>
    </div>
    
  </form>

</body>

</html> 
